<template>
	<header class="site-header">
		<div class="header-bars-wrapper" @click="callParentFunction">
			<font-awesome-icon v-if="isSidebarOpenedProps" :icon="['fas', 'xmark']" />
			<div v-else class="hamburger-bars">
				<font-awesome-icon :icon="['fas', 'bars']" />
				<div class="overlap"></div>
			</div>
		</div>
		<div class="container-navbar">
			<div>
				<div class="logo">
					<Logo />
					<h2>Suitbaze</h2>
				</div>
			</div>
		</div>
	</header>
</template>

<script>
export default {
	name: 'AppHeader',
	props: {
		openSidebar: Function,
		isSidebarOpenedProps: Boolean
	},
	data() {
		return {}
	},

	methods: {
		callParentFunction() {
			this.openSidebar(!this.isSidebarOpenedProps)
		}
	}
}
</script>

<style lang="scss">
.site-header {
	display: flex;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ff6700;
	height: 60px !important;
	box-shadow: 0px 3px 4px rgba($black, 0.15);
	color: white;
	.header-bars-wrapper {
		height: 100%;
		aspect-ratio: 1/1;
		background-color: #333333;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		@media #{$medium} {
			display: none;
		}
		.hamburger-bars {
			position: relative;
			.overlap {
				position: absolute;
				// background-color: red;
				width: 100%;
				height: 100%;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		svg {
			color: white;
			width: 26px;
			height: 26px;
		}
	}

	& > .container-navbar {
		display: flex;
		width: 100%;
		padding-inline: 20px;
		justify-content: space-between;
		align-items: center;
		.logo {
			display: flex;
			gap: 10px;
			align-items: center;
			h2 {
				margin: 0;
			}
		}
	}

	&.transparent-header {
		background: transparent;

		.header-link {
			color: #fff;

			&:hover {
				color: $black20;
			}
		}
	}

	@media #{$large} {
		height: 70px;
	}
}
</style>
