<template>
	<div :class="{ 'sidebar-nav': true, active: isActive }">
		<div class="site-main">
			<div v-for="(nav, i) in sideNav" :key="i" @click="callParentFunction">
				<nuxt-link header-link :to="nav.url">{{ nav.title }}</nuxt-link>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'SideBar',
	props: {
		isActive: Boolean,
		openSidebar: Function
	},
	data() {
		return {
			sideNav: []
		}
	},
	methods: {
		callParentFunction() {
			this.openSidebar(!this.isActive)
		},
		closeNavbarOnClickOutside(event) {
			console.log('this.isActive ' + this.isActive)
			console.log(
				'!event.target.classList.contains(header-bars-wrapper)  ' +
					!event.target.classList.contains('header-bars-wrapper')
			)
			console.log(
				'!event.target.classList.contains(fa-bars)  ' +
					!event.target.classList.contains('fa-bars')
			)
			console.log(
				'!event.target.tagName.toLowerCase() === path  ' +
					(!event.target.tagName.toLowerCase() === 'path')
			)
			console.log(event.target)
			if (
				this.isActive &&
				!this.$el.contains(event.target) &&
				!event.target.classList.contains('header-bars-wrapper') &&
				!event.target.classList.contains('overlap') &&
				!event.target.classList.contains('fa-bars')
			) {
				this.openSidebar(false)
			}
		}
	},
	mounted() {
		document.addEventListener('click', this.closeNavbarOnClickOutside)
	},
	beforeDestroy() {
		document.removeEventListener('click', this.closeNavbarOnClickOutside)
	},
	async fetch() {
		await this.$axios
			.get(`/json/side-menus.json`)
			.then(res => {
				this.sideNav = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	},
	computed: {
		isRootPage() {
			return this.$route.path === '/'
		}
	}
}
</script>

<style lang="scss" scoped>
a.nuxt-link-active {
	font-weight: bold;
	background-color: #e6e6e6;
}
.sidebar-nav {
	display: flex;
	width: 215px;
	height: 100vh;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	position: fixed;
	top: 0;
	left: -215px;
	z-index: 2;
	background-color: white;
	transition: 0.5s all ease;
	&.active {
		left: 0;
		@media screen and (max-width: 768px) {
			box-shadow: rgba(99, 99, 99, 0.3) 0px 20px 10px 1000px;
		}
	}
	@media #{$medium} {
		left: 0;
	}

	.site-main {
		display: flex;
		flex-direction: column;
		margin-left: 0px;
		div {
			width: fit-content;
			height: fit-content;
			display: flex;
			a {
				color: #4d4d4d;
				padding: 8px 24px;
				width: 215px;
				&:hover {
					color: black;
				}
			}
		}
	}
}
</style>
