@import 'partials/normalize';
@import 'partials/variables';
@import 'partials/resets';
@import 'partials/helpers';
@import 'partials/print';

@import 'modules/modules';
@import 'plugins/vue-slick';

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

:root {
	--orange-suit: #ff6700;

	// colors
	--color-primary-blue: #0094ed;
	--color-secondary: #76848c;
	--color-warning: #ffae00;
	--color-danger: #f0210b;
	--color-black: #000;
	--color-light-grey: #d3d3d3;
	--color-white: #fff;

	// tones
	--tones-black10: #e6e6e6;
	--tones-black20: #cccccc;
	--tones-black30: #b3b3b3;
	--tones-black40: #999999;
	--tones-black50: gray;
	--tones-black60: #666666;
	--tones-black70: #4d4d4d;
	--tones-black80: #333333;
	--tones-black90: #1a1a1a;
	--tones-black: #000;
}

html {
	font: 400 14px $base_font_family;
	line-height: $base_line_height;

	@media #{$medium} {
		font-size: $base_font_size;
	}
}

body {
	// text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	color: $black80;
	background-color: #fff;
}

a {
	color: $link;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $link_hover;
	}
}

.color-inherit {
	&:hover,
	&:focus {
		color: inherit !important;
	}
}

.block {
	margin-bottom: $space;
}

.block-half {
	margin-bottom: ($space / 2);
}

.container {
	width: 92%;
	max-width: 960px;
	margin: 0 auto;

	@media #{$medium} {
		width: 94%;
	}

	@media #{$extra_large} {
		// max-width: 1280px;
	}
}

.container--small {
	max-width: 450px;

	@media #{$extra_large} {
		max-width: 450px;
	}
}

.site-main {
	position: relative;
	z-index: 1;
	margin-top: 60px;
	// margin-left: 215px;

	&.header-overlap {
		margin-top: 0;
	}

	@media #{$large} {
		margin-top: 70px;
	}
}

.page-enter-active,
.page-leave-active {
	opacity: 1;
	transition: opacity 0.2s;
	will-change: opacity;
}

.page-enter,
.page-leave-to {
	opacity: 0;
}

// custom styling
div.af-section {
	margin-left: 0;
	margin-block: 60px;
	width: 100vw;
	gap: 24px;
	display: flex;
	flex-direction: column;
	@media #{$medium} {
		margin-left: 215px;
		width: calc(100vw - 215px);
	}
	.site-main {
		width: calc(100%);
		margin-inline: auto;
		.container {
			h2.title {
				color: var(--orange-suit);
				font-family: 'Fira Mono', monospace;
				margin-top: 16px;
			}
			// background-color: red;
		}
	}
}

.divider {
	width: 100%;
	height: 2px;
	background-color: #e5e5e5;
	margin-bottom: 16px;
}

.post-container .container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.divider,
	p {
		margin-bottom: 0;
	}
	a {
		color: #0094ed;
		&:hover {
			color: #007fce;
		}
	}
}
.custom-code-text {
	color: #585260;
	background-color: #efecf4;
	padding: 0.5em;
	font-size: 14px;
}

// text colors
.text-primary {
	color: var(--color-primary-blue);
}
.text-secondary {
	color: var(--color-secondary);
}
.text-warning {
	color: var(--color-warning);
}
.text-danger {
	color: var(--color-danger);
}
.text-black {
	color: var(--color-black);
}
.text-light-grey {
	color: var(--color-light-grey);
}
.text-white {
	color: var(--color-white);
}

// background colors
.bg-primary {
	background-color: var(--color-primary-blue);
}
.bg-secondary {
	background-color: var(--color-secondary);
}
.bg-warning {
	background-color: var(--color-warning);
}
.bg-danger {
	background-color: var(--color-danger);
}
.bg-black {
	background-color: var(--color-black);
}
.bg-light-grey {
	background-color: var(--color-light-grey);
}
.bg-white {
	background-color: var(--color-white);
}

// link colors
.link-primary {
	color: var(--color-primary-blue) !important;
}
.link-secondary {
	color: var(--color-secondary) !important;
}
.link-warning {
	color: var(--color-warning) !important;
}
.link-danger {
	color: var(--color-danger) !important;
}
.link-black {
	color: var(--color-black) !important;
}
.link-light-grey {
	color: var(--color-light-grey) !important;
}
.link-white {
	color: var(--color-white) !important;
}

// black tones
.text-black10 {
	color: var(--tones-black10);
	span {
		background-color: var(--tones-black10);
	}
}
.text-black20 {
	color: var(--tones-black20);
	span {
		background-color: var(--tones-black20);
	}
}
.text-black30 {
	color: var(--tones-black30);
	span {
		background-color: var(--tones-black30);
	}
}
.text-black40 {
	color: var(--tones-black40);
	span {
		background-color: var(--tones-black40);
	}
}
.text-black50 {
	color: var(--tones-black50);
	span {
		background-color: var(--tones-black50);
	}
}
.text-black60 {
	color: var(--tones-black60);
	span {
		background-color: var(--tones-black60);
	}
}
.text-black70 {
	color: var(--tones-black70);
	span {
		background-color: var(--tones-black70);
	}
}
.text-black80 {
	color: var(--tones-black80);
	span {
		background-color: var(--tones-black80);
	}
}
.text-black90 {
	color: var(--tones-black90);
	span {
		background-color: var(--tones-black90);
	}
}
.text-black {
	color: var(--tones-black);
	span {
		background-color: var(--tones-black);
	}
}

// buttons
// .btn {
// 	color: white;
// 	font-weight: 500;
// 	&.primary {
// 		background-color: #0094ed;
// 		border: 1px solid #0094ed;
// 		&:hover {
// 			background-color: lighten(#0094ed, 10%);
// 		}
// 		&.ghost {
// 			color: #0094ed;
// 			background-color: transparent;
// 			&:hover {
// 				background-color: #0094ed;
// 				color: #fff;
// 			}
// 		}
// 		&.flat {
// 			color: #0094ed;
// 			border: 1px solid transparent;
// 			background-color: transparent;
// 			&:hover {
// 				background-color: #e5e5e5;
// 				color: #0094ed;
// 			}
// 		}
// 	}
// }

@mixin button-styles($class, $color) {
	.btn {
		color: white;
		font-weight: 500;
		&.#{$class} {
			background-color: $color;
			border: 1px solid $color;
			&:hover {
				background-color: lighten($color, 10%);
			}
			&.ghost {
				color: $color;
				background-color: transparent;
				&:hover {
					background-color: $color;
					color: white;
				}
			}
			&.flat {
				color: $color;
				border: 1px solid transparent;
				background-color: transparent;
				&:hover {
					background-color: #e5e5e5;
					color: $color;
				}
			}
		}
		&.disabled {
			background-color: lightgrey;
			border-color: lightgrey;
			cursor: not-allowed !important;
		}
		&.btn--small {
			font-size: 15px;
			padding: 4px 12px;
		}
		&.btn--large {
			font-size: 20px;
			padding: 10px 28px;
		}
		@if $class == 'light-grey' {
			&.#{$class} {
				color: black;
				border: 1px solid #d3d3d3;
				&.ghost {
					&:hover {
						color: black;
					}
				}
			}
		}
		@if $class == 'bz-white' {
			&.#{$class} {
				color: black;
				border: 1px solid #d3d3d3;
				&:hover {
					background-color: #d3d3d3;
				}
				&.ghost {
					color: #d3d3d3;
					&:hover {
						color: black;
					}
				}
				&.flat {
					color: #d3d3d3;
				}
			}
		}
	}
}
@include button-styles(primary, #0094ed);
@include button-styles(secondary, #76848c);
@include button-styles(warning, #ffae00);
@include button-styles(danger, #f0210b);
@include button-styles(black, #000);
@include button-styles(light-grey, #d3d3d3);
@include button-styles(bz-white, #fff);

// alert
@mixin alert-styles($class, $color) {
	.alert {
		width: 100%;
		height: fit-content;
		padding: 8px 16px;
		background-color: #f0f0f0;
		color: #4d4d4d;
		border: 1px solid #4d4d4d;
		&.#{$class} {
			background-color: lighten($color, 30%);
			color: $color;
			border: 1px solid $color;
		}
		@if $class == 'light-grey' {
			&.#{$class} {
				color: darken($color, 30%);
				background-color: $color;
				border: 1px solid darken($color, 30%);
			}
		}
		@if $class == 'white' {
			&.#{$class} {
				color: #d3d3d3;
				border: 1px solid #d3d3d3;
			}
		}
	}
}
@include alert-styles(primary, #0094ed);
@include alert-styles(secondary, #76848c);
@include alert-styles(warning, #ffae00);
@include alert-styles(danger, #f0210b);
@include alert-styles(black, #000);
@include alert-styles(light-grey, #d3d3d3);
@include alert-styles('white', #fff);

.alert--popup {
	display: none;
	z-index: 10000000000000000; //waaaat???
	position: fixed;
	padding-top: 15px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	.alert {
		width: 60vw;
		@media screen and (max-width: 768px) {
			width: 90vw;
		}
	}

	background-color: rgba(0, 0, 0, 0.4);
	.alert--close {
		float: right;
		cursor: pointer;
	}
}

// cards
.card-group {
	display: flex;
	gap: 15px;
	justify-content: space-between;
	@media only screen and (max-width: 768px) {
		flex-direction: column;
	}
}
@mixin card-styles($class, $color) {
	.card {
		width: 100%;
		display: flex;
		flex-direction: column;
		border: 1px solid black;
		color: black;
		.card--header {
			border-bottom: 1px solid black;
			padding: 8px 16px;
		}
		.card--body {
			height: 100%;
			padding: 8px 16px;
		}
		.card--footer {
			border-top: 1px solid black;
			padding: 8px 16px;
		}
		&.#{$class} {
			color: white;
			@if $class == 'light-grey' {
				color: black;
			}
			background-color: $color;
			.card--header {
				border-bottom: 1px solid black;
				background-color: darken($color, 15%);
			}
			.card--footer {
				background-color: darken($color, 15%);
				border-top: 1px solid black;
			}
		}
	}
}
@include card-styles(primary, #0094ed);
@include card-styles(secondary, #76848c);
@include card-styles(light-grey, #d3d3d3);

// flex card
.bzg--flex {
	display: flex;
	flex-flow: row wrap;
	box-sizing: border-box;
	&.card-group {
		gap: 0;
		justify-content: normal;
	}
}

// media-object
.media {
	.media-figure {
		width: 64px;
		aspect-ratio: 1/1;
		&.big {
			width: 150px;
		}
	}
}

// grid
.bzg {
	display: flex;
	justify-content: center;
	align-items: center;
}
.bzg_c {
	border: 1px solid white;
	display: flex;
	gap: 5px;
	width: 100%;
	.text-white {
		width: 100%;
	}
}
.form-label {
	// text-align: right;
	display: flex;
}

.form-input--block {
	display: flex;
	flex-direction: column;
}

// form
.form-input::-webkit-file-upload-button {
	display: none;
}
