<template>
	<nuxt-link to="/" class="site-logo">
		<img src="~assets/img/site-logo.png" alt="" width="40" />
	</nuxt-link>
</template>

<script>
export default {
	name: 'MainLogo',
	props: {
		mainNavData: {
			type: Array,
			default: null
		}
	}
}
</script>

<style lang="scss"></style>
