<template>
	<div class="blank-layout"><nuxt /></div>
</template>
<script>
export default {
	name: 'BlankLayout'
}
</script>
<style lang="scss" scoped>
.blank-layout {
	display: flex;
	align-items: center;
	justify-content: center;

	.site-main {
		padding: 0;
	}
}
</style>
