<template>
	<div>
		<div id="app" class="sticky-footer-container">
			<div class="sticky-footer-container-item">
				<Header
					:openSidebar="functionOpenSidebar"
					:isSidebarOpenedProps="isSidebarOpened"
				/>
			</div>

			<div class="wrapper-content">
				<div class="sticky-footer-container-item">
					<Sidebar
						:openSidebar="functionOpenSidebar"
						:isActive="isSidebarOpened"
					/>
				</div>
				<div class="af-section mobile">
					<nuxt />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DefaultLayout',
	head() {
		return {
			link: [
				{
					rel: 'canonical',
					href: process.env.BASE_URL + this.$route.path
				}
			]
		}
	},
	data() {
		return {
			isSidebarOpened: false
		}
	},
	mounted() {},
	methods: {
		functionOpenSidebar(state) {
			this.isSidebarOpened = state
		}
	}
}
</script>

<style lang="scss" scoped>
.wrapper-content {
	display: flex;
}
</style>
