<template>
	<main class="site-main">
		<PostTemplate title="Alert">
			<div class="alert">Alert default</div>
			<div class="alert primary">Alert primary</div>
			<div class="alert secondary">Alert secondary</div>
			<div class="alert warning">Alert warning</div>
			<div class="alert danger">Alert danger</div>
			<div class="alert black">Alert black</div>
			<div class="alert light-grey">Alert light-grey</div>
			<div class="alert white">Alert white</div>

			<CustomCodeText>
				<!-- button start -->
				<span class="hljs-name">&lt;div class="alert"&gt;</span>
				<span class="">Alert Default</span>
				<span class="hljs-name">&lt;/div&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;div class="alert secondary"&gt;</span>
				<span class="">Alert secondary</span>
				<span class="hljs-name">&lt;/div&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;div class="alert warning"&gt;</span>
				<span class="">Alert warning</span>
				<span class="hljs-name">&lt;/div&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;div class="alert danger"&gt;</span>
				<span class="">Alert danger</span>
				<span class="hljs-name">&lt;/div&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;div class="alert black"&gt;</span>
				<span class="">Alert black</span>
				<span class="hljs-name">&lt;/div&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;div class="alert light-grey"&gt;</span>
				<span class="">Alert light-grey</span>
				<span class="hljs-name">&lt;/div&gt;</span>
				<br />
				<!-- end button -->
				<!-- button start -->
				<span class="hljs-name">&lt;div class="alert white"&gt;</span>
				<span class="">Alert white</span>
				<span class="hljs-name">&lt;/div&gt;</span>
				<br />
				<!-- end button -->
			</CustomCodeText>
		</PostTemplate>
		<PostTemplate title="Alert Box" isCopyright="true">
			<div>
				<button class="btn primary js-trigger-alert" data-alert="#alert1">
					Alert 1
				</button>
				<button class="btn primary js-trigger-alert" data-alert="#alert2">
					Alert 2
				</button>
			</div>

			<div class="alert--popup" id="alert1">
				<div class="alert primary alert--popup-content">
					<span class="alert--close js-alert-close" data-alert="#alert1"
						><font-awesome-icon :icon="['fas', 'xmark']" />
					</span>
					<h4>Lorem Ipsum!</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
						pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
						culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<hr />
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui
						obcaecati tempora. Quod, nesciunt culpa sunt sit itaque voluptate
						molestiae in quia quos quam tempora sequi illo molestias? Rerum,
						sit?
					</p>
				</div>
			</div>

			<div class="alert--popup" id="alert2">
				<div class="alert danger alert--popup-content">
					<span class="alert--close js-alert-close" data-alert="#alert2"
						><font-awesome-icon :icon="['fas', 'xmark']" />
					</span>
					<h4>Number 2</h4>
					<p>Test Number 2</p>
				</div>
			</div>

			<CustomCodeText>
				<!-- button start -->
				<span class="hljs-name"
					>&lt;button class="btn--primary js-trigger-alert"
					data-alert="#alert1"&gt;</span
				>
				<span class="">Alert 1</span>
				<span class="hljs-name">&lt;/button&gt;</span>
				<br />
				<span class="hljs-name"
					>&lt;button class="btn--primary js-trigger-alert"
					data-alert="#alert2"&gt;</span
				>
				<span class="">Alert 2</span>
				<span class="hljs-name">&lt;/button&gt;</span>
				<br />
				<!-- end button -->
				<span class="hljs-name"
					>&lt;div class="alert--popup" id="alert1"&gt;</span
				>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;div class="alert primary
					alert--popup-content"&gt;</span
				>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(2) }}&lt;span class="alert--close
					js-alert-close"&gt;</span
				>
				<span class="hljs-name">&lt;i class="fas fa-times"&gt;</span>
				<span class="hljs-name">&lt;/i&gt;</span>
				<span class="hljs-name">&lt;/span &gt;</span>
				<span class="hljs-name">&lt;h4&gt;Lorem Ipsum!&lt;/h4&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(2) }}&lt;p&gt;</span>
				<span class=""
					>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
					minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum.</span
				>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(2) }}&lt;p class="mb-0"&gt;</span
				>
				<span class=""
					>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui
					obcaecati tempora. Quod, nesciunt culpa sunt sit itaque voluptate
					molestiae in quia quos quam tempora sequi illo molestias? Rerum,
					sit?</span
				>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/div&gt;</span>
				<br />
				<span class="hljs-name">&lt;/div&gt;</span>
				<br />
				<span class="hljs-name"
					>&lt;div class="alert--popup" id="alert2"&gt;</span
				>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;div class="alert--danger
					alert--popup-content" &gt;</span
				>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(2) }}&lt;span class="alert--close
					js-alert-close"&gt;&lt;i class="fas
					fa-times"&gt;&lt;/i&gt;&lt;/span&gt;&lt;h4&gt;Number
					2&lt;/h4&gt;</span
				>
				<span class="hljs-name">{{ getCustomIndent(2) }}&lt;p&gt;</span>
				<span>Test Number 2</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/div&gt;</span>
				<br />
				<span class="hljs-name">&lt;/div&gt;</span>
			</CustomCodeText>
		</PostTemplate>
	</main>
</template>

<script>
import { generateCustomIndent } from '../plugins/customIndents'

export default {
	name: 'AlertPage',
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	},
	methods: {
		getCustomIndent(iterations) {
			return generateCustomIndent(iterations)
		}
	},
	mounted() {
		const buttonOpen = document.querySelectorAll('.js-trigger-alert')
		buttonOpen.forEach(button => {
			button.addEventListener('click', () => {
				const targetId = button.getAttribute('data-alert')
				const alert = document.querySelector(targetId)
				// Show or hide the alert as needed
				alert.style.display = 'flex'
			})
		})
		const buttonClose = document.querySelectorAll('.js-alert-close')
		buttonClose.forEach(button => {
			button.addEventListener('click', () => {
				const targetId = button.getAttribute('data-alert')
				const alert = document.querySelector(targetId)
				// Show or hide the alert as needed
				alert.style.display = 'none'
			})
		})
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped></style>
