<template>
	<main class="site-main">
		<PostTemplate title="Form">
			<form action="">
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">Text Input</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<input
							class="form-input"
							type="text"
							name="text"
							placeholder="Text"
						/>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">
						Full Width Input
					</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<input
							class="form-input form-input--block"
							type="text"
							name="fullwidth"
							placeholder="Full Width Input"
						/>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">
						Password Input
					</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<input
							class="form-input"
							type="password"
							name="password"
							placeholder="Password"
						/>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">Email Address</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<input
							class="form-input"
							type="email"
							name="email"
							placeholder="Email"
						/>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">Number Input</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<input
							class="form-input"
							type="number"
							name="number"
							placeholder="Number"
						/>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">
						Single File Input (Full Width)
					</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<input
							class="form-input js-file-input"
							id="singleFile"
							type="file"
							name="file"
						/>
						<label class="flex form-file-label" for="singleFile">
							<div class="js-file-name form-file-input form-input--block"></div>
							<div class="btn primary ml-4">Browse</div>
						</label>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">
						Multiple File Input
					</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<input
							class="form-input js-file-input"
							id="multipleFile"
							type="file"
							name="file"
							multiple
						/>
						<label class="flex form-file-label" for="multipleFile">
							<div class="js-file-name form-file-input"></div>
							<div class="btn primary ml-4">Browse</div>
						</label>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">
						Textarea Input
					</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<textarea
							class="form-input"
							name="textarea"
							placeholder="Text Area"
						></textarea>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">
						Disabled Input
					</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<input
							class="form-input"
							type="text"
							name="disabled"
							placeholder="Disabled"
							disabled
						/>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">
						Read-only Input
					</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<input
							class="form-input"
							type="text"
							name="readonly"
							placeholder="Read-only"
							readonly
						/>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">
						Dropdown Select
					</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<select class="form-input" name="dropdown">
							<option value="1">Option 1</option>
							<option value="2">Option 2</option>
							<option value="3">Option 3</option>
						</select>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">Radio Buttons</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<div class="form-check-group">
							<label class="form-check__item" for="rbOption1"
								><input id="rbOption1" type="radio" name="radio" /> Option
								1</label
							>
							<label class="form-check__item" for="rbOption2"
								><input id="rbOption2" type="radio" name="radio" /> Option
								2</label
							>
							<label class="form-check__item" for="rbOption3"
								><input id="rbOption3" type="radio" name="radio" /> Option
								3</label
							>
						</div>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">Checkbox</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<div class="form-check-group">
							<label class="form-check__item" for="cbOption1"
								><input
									id="cbOption1"
									type="checkbox"
									name="checkbox"
									checked
								/>
								Option 1</label
							>
							<label class="form-check__item" for="cbOption2"
								><input id="cbOption2" type="checkbox" name="checkbox" /> Option
								2</label
							>
							<label class="form-check__item" for="cbOption3"
								><input
									id="cbOption3"
									type="checkbox"
									name="checkbox"
									checked
								/>
								Option 3</label
							>
						</div>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
						<button class="btn primary" type="submit">Submit</button>
						<button class="btn ghost secondary" type="reset">Cancel</button>
					</div>
				</div>
			</form>
			<CustomCodeText>
				<!-- button start -->
				<!-- beloman ngob -->
				<!-- <span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--primary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br /> -->
				<!-- end button -->
				belom ngap
			</CustomCodeText>
		</PostTemplate>
		<PostTemplate title="Form Validation" isCopyright="true">
			<form action="" class="js-validate" @submit.prevent="submitForm">
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">Username</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<input
							v-model.trim="$v.formData.username.$model"
							class="form-input"
							type="text"
							name="username"
							placeholder="Username"
							:maxlength="$v.formData.username.$params.maxLength.max"
							:class="{ 'form-input--error': $v.formData.username.$error }"
							@blur="$v.formData.username.$touch()"
							required
						/>
						<!-- vuelidate -->
						<div v-if="$v.formData.username.$error" class="form-error-msg">
							<div v-if="!$v.formData.username.required">Mohon diisi</div>
							<div v-if="!$v.formData.username.minLength">
								Minimal masukkan
								{{ $v.formData.username.$params.minLength.min }} karakter
							</div>
							<div v-if="!$v.formData.username.maxLength">
								Maksimal karakter yang diperbolehkan
								{{ $v.formData.username.$params.maxLength.max }}
							</div>
						</div>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">Email</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<input
							v-model.trim="$v.formData.email.$model"
							class="form-input"
							type="email"
							name="email"
							placeholder="Email"
							:maxlength="$v.formData.email.$params.maxLength.max"
							:class="{ 'form-input--error': $v.formData.email.$error }"
							@blur="$v.formData.email.$touch()"
						/>
						<!-- vuelidate -->
						<div v-if="$v.formData.email.$error" class="form-error-msg">
							<div v-if="!$v.formData.email.required">Mohon diisi</div>
							<div v-if="!$v.formData.email.email">Email anda tidak valid.</div>
							<div v-if="!$v.formData.email.minLength">
								Minimal masukkan
								{{ $v.formData.email.$params.minLength.min }} karakter
							</div>
							<div v-if="!$v.formData.email.maxLength">
								Maksimal karakter yang diperbolehkan
								{{ $v.formData.email.$params.maxLength.max }}
							</div>
						</div>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">Birthdate</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<input
							class="form-input datepicker-here js-date"
							v-model.trim="$v.formData.birthdate.$model"
							type="date"
							name="birthdate"
							placeholder="Birthdate"
							required
							:class="{ 'form-input--error': $v.formData.birthdate.$error }"
							@blur="$v.formData.birthdate.$touch()"
						/>
						<!-- vuelidate -->
						<div v-if="$v.formData.birthdate.$error" class="form-error-msg">
							<div v-if="!$v.formData.birthdate.required">Mohon diisi</div>
						</div>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">Gender</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<div class="form-check-group">
							<label class="form-check__item" for="gender1"
								><input
									id="gender1"
									type="radio"
									name="gender"
									v-model.trim="$v.formData.gender.$model"
									@blur="$v.formData.gender.$touch()"
									value="male"
								/>
								Male</label
							>
							<label class="form-check__item" for="gender2"
								><input
									id="gender2"
									type="radio"
									name="gender"
									v-model.trim="$v.formData.gender.$model"
									@blur="$v.formData.gender.$touch()"
									value="female"
								/>
								Female</label
							>
						</div>
					</div>
				</div>
				<div class="bzg mb-24">
					<div class="bzg_c form-label" data-col="s12,m4,l4">Hobbies</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<div class="form-check-group form-input--block">
							<label
								class="form-check__item"
								v-for="(hobby, index) in hobbies"
								:key="index"
								><input
									id="hobby1"
									type="checkbox"
									name="hobby"
									v-model="formData.hobbies[index]"
									@change="toggleHobby(index)"
								/>
								{{ hobby }}</label
							>
						</div>
					</div>
				</div>

				<div class="bzg mb-12">
					<div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
						<button
							class="btn btn primary"
							type="submit"
							:class="$v.$invalid || isSending ? 'disabled' : ''"
							:disabled="$v.$invalid || isSending"
						>
							Submit
						</button>
					</div>
				</div>
			</form>
			<!-- <pre>{{ $v }}</pre> -->
			<CustomCodeText> belom ngap </CustomCodeText>
		</PostTemplate>
	</main>
</template>

<script>
import { required, email, minLength, maxLength } from 'vuelidate/lib/validators'
import { generateCustomIndent } from '../plugins/customIndents'

export default {
	name: 'FormPage',
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	},
	data() {
		return {
			hobbies: ['Reading', 'Writing', 'Running', 'Swimming'],
			isSending: false,
			newPswEye: true,
			confirmPswEye: true,
			formData: {
				username: null,
				email: null,
				birthdate: null,
				gender: null,
				hobbies: []
			}
		}
	},
	validations: {
		formData: {
			username: {
				required,
				minLength: minLength(4),
				maxLength: maxLength(256)
			},
			email: {
				required,
				email,
				minLength: minLength(4),
				maxLength: maxLength(256)
			},
			birthdate: {
				required
			},
			gender: {
				required
			},
			hobbies: {
				required
			}
		}
	},
	methods: {
		submitForm() {
			if (this.$v.formData.$invalid) {
				return null
			} else {
				this.$v.$reset()
			}
		},
		getCustomIndent(iterations) {
			return generateCustomIndent(iterations)
		},
		toggleHobby(index) {
			const hobby = this.hobbies[index]
			const selectedHobbies = this.formData.hobbies

			if (selectedHobbies.includes(hobby)) {
				selectedHobbies.splice(selectedHobbies.indexOf(hobby), 1)
			} else {
				selectedHobbies.push(hobby)
			}

			this.$v.formData.hobbies.$touch()
		}
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped></style>
