<template>
	<main class="site-main">
		<PostTemplate title="Environment" isCopyright="true">
			<li>
				<strong>NodeJS</strong> versi 8 ke atas. Node harus di-<em>install</em>
				sebelum meng-<em>install</em> lainnya.
			</li>
			<p>
				<a href="https://nodejs.org/en">Install</a> |
				<a href="https://nodejs.org/dist/latest-v4.x/docs/api/">Dokumentasi</a>
			</p>
			<li>
				<strong>Yeoman.</strong> Jalankan perintah di bawah di
				<em>command prompt</em>.
			</li>
			<CustomCodeText> npm i -g yo </CustomCodeText>
			<li>
				<strong>Gulp.</strong> Jalankan perintah di bawah di
				<em>command prompt</em>.
			</li>
			<CustomCodeText> npm i -g gulp-cli </CustomCodeText>
			<li>
				<strong>Git</strong>
			</li>
			<p>
				<a href="https://www.git-scm.com/download/">Install</a> |
				<a href="https://github.s3.amazonaws.com/media/progit.en.pdf"
					>Pro Git (PDF)</a
				>
			</p>
			<li>
				<strong>XAMPP</strong>
			</li>
			<p>
				<a href="https://nodejs.org/en">Install</a>
			</p>
			<li>
				<strong>Generator Baze.</strong>
			</li>
			<p>Install generator baze dengan menjalankan perintah di bawah ini.</p>
			<CustomCodeText> npm install generator-baze -g </CustomCodeText>
			<p>Untuk install ke dalam project frontend, jalankan</p>
			<CustomCodeText> yo baze </CustomCodeText>
		</PostTemplate>
	</main>
</template>

<script>
export default {
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped></style>
