<template>
	<main class="site-main">
		<PostTemplate title="Heading">
			<h1>Heading 1</h1>
			<h2>Heading 2</h2>
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<h5>Heading 5</h5>
			<h6>Heading 6</h6>
			<CustomCodeText>
				<span class="hljs-name">&lt;h1&gt;</span>
				<span class="">Heading 1</span>
				<span class="hljs-name">&lt;/h1&gt;</span>
				<br />
				<span class="hljs-name">&lt;h2&gt;</span>
				<span class="">Heading 2</span>
				<span class="hljs-name">&lt;/h2&gt;</span>
				<br />
				<span class="hljs-name">&lt;h3&gt;</span>
				<span class="">Heading 3</span>
				<span class="hljs-name">&lt;/h3&gt;</span>
				<br />
				<span class="hljs-name">&lt;h4&gt;</span>
				<span class="">Heading 4</span>
				<span class="hljs-name">&lt;/h4&gt;</span>
				<br />
				<span class="hljs-name">&lt;h5&gt;</span>
				<span class="">Heading 5</span>
				<span class="hljs-name">&lt;/h5&gt;</span>
				<br />
				<span class="hljs-name">&lt;h6&gt;</span>
				<span class="">Heading 6</span>
				<span class="hljs-name">&lt;/h6&gt;</span>
			</CustomCodeText>
		</PostTemplate>
		<PostTemplate title="Heading Style" isCopyright="true">
			<p class="h1">Text Size Adjust h1</p>
			<p class="h2">Text Size Adjust h2</p>
			<p class="h3">Text Size Adjust h3</p>
			<p class="h4">Text Size Adjust h4</p>
			<p class="h5">Text Size Adjust h5</p>
			<p class="h6">Text Size Adjust h6</p>
			<CustomCodeText>
				<span class="hljs-name">&lt;p class="h1"&gt;</span>
				<span class="">Text Size Adjust H1</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="h2"&gt;</span>
				<span class="">Text Size Adjust H2</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="h3"&gt;</span>
				<span class="">Text Size Adjust H3</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="h4"&gt;</span>
				<span class="">Text Size Adjust H4</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="h5"&gt;</span>
				<span class="">Text Size Adjust H5</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br />
				<span class="hljs-name">&lt;p class="h6"&gt;</span>
				<span class="">Text Size Adjust H6</span>
				<span class="hljs-name">&lt;/p&gt;</span>
			</CustomCodeText>
		</PostTemplate>
	</main>
</template>

<script>
export default {
	name: 'HeadingsPage',
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped></style>
