<template>
	<div class="splash-wrapper">
		<div class="header-splash-screen">
			<img src="../assets/img/site-logo.png" alt="" />
			<h3>Baze UI</h3>
		</div>
		<div id="app" class="af-container">
			<div class="logo-wrapper">
				<img src="../assets/img/site-logo.png" alt="" />
			</div>
			<h3>A minimal setup for your frontend environment.</h3>
			<div class="button-wrapper">
				<a href="/get-started" class="primary-btn">GET STARTED</a>
				<a href="https://github.com/suitmedia/suit-baze" class="secondary-btn"
					>DOWNLOAD</a
				>
			</div>
		</div>
		<div class="footer-splash-screen">
			<p>Version 2.20.0 | Powered by: Suitmedia.com</p>
		</div>
	</div>
</template>

<script>
export default {
	name: 'IndexNuxt',
	layout: 'blanklayout',
	data() {
		return {}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.splash-wrapper {
	width: 100vw;
	height: 100vh;
	background-color: #555;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2vw 3vw;

	.header-splash-screen {
		display: flex;
		align-items: center;
		gap: 5px;
		width: 100%;
		color: white;
		img {
			width: 40px;
		}
		h3 {
			margin: 0;
		}
	}
	.footer-splash-screen {
		color: white;
		p {
			margin: 0;
		}
	}

	.af-container {
		display: flex;
		flex-direction: column;
		color: white;
		gap: 20px;
		align-items: center;
		justify-content: center;
		h3 {
			text-align: center;
		}

		.logo-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30%;
			a.site-logo {
				img {
					width: 100%;
				}
			}
		}

		.button-wrapper {
			display: flex;
			align-items: center;
			gap: 25px;
			flex-direction: column;
			width: 100%;
			a {
				color: white;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--orange-suit);

				width: 100%;
				height: 40px;
				&.primary-btn {
					&:hover {
						background-color: #ff7e29;
					}
				}
				&.secondary-btn {
					background-color: transparent;
					border: 1px solid white;
					&:hover {
						background-color: white;
						color: #555;
					}
				}
			}
		}
	}
	@media #{$medium} {
		padding: 1vw 3vw;
		.af-container {
			.button-wrapper {
				flex-direction: row;
				justify-content: center;
				a {
					width: 200px;
				}
			}
		}
	}
}
</style>
