<template>
	<main class="site-main">
		<PostTemplate title="Lists" isCopyright="true">
			<h5>Ordered List</h5>
			<ol>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
				<li>
					Incidunt magni consequatur adipisci officiis vero placeat consectetur
				</li>
				<li>
					id facere,
					<ol type="a">
						<li>molestiae in,</li>
						<li>ducimus necessitatibus hic ad esse consequuntur</li>
					</ol>
				</li>
				<li>dignissimos sequi illum doloremque.</li>
			</ol>
			<CustomCodeText>
				<span class="hljs-name">&lt;ol&gt;</span>
				<!-- prettier-ignore -->
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;li&gt;</span>
				<span class=""
					>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span
				>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;li&gt;</span>
				<span class=""
					>Incidunt magni consequatur adipisci officiis vero placeat
					consectetur</span
				>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;li&gt;</span>
				<span class="">id facere,</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(2) }}&lt;ol type="a"&gt;</span
				>
				<br />
				<span class="hljs-name">{{ getCustomIndent(3) }}&lt;li&gt;</span>
				<span class="">molestiae in,</span>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(3) }}&lt;li&gt;</span>
				<span class="">ducimus necessitatibus hic ad esse consequuntur</span>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(2) }}&lt;/ol&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;li&gt;</span>
				<span class="">dignissimos sequi illum doloremque.</span>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">&lt;/ol&gt;</span>
			</CustomCodeText>
			<h5>Unordered List</h5>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
				<li>
					Incidunt magni consequatur adipisci officiis vero placeat consectetur
				</li>
				<li>
					id facere,
					<ul>
						<li>molestiae in,</li>
						<li>ducimus necessitatibus hic ad esse consequuntur</li>
					</ul>
				</li>
				<li>dignissimos sequi illum doloremque.</li>
			</ul>
			<CustomCodeText>
				<span class="hljs-name">&lt;ul&gt;</span>
				<!-- prettier-ignore -->
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;li&gt;</span>
				<span class=""
					>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span
				>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;li&gt;</span>
				<span class=""
					>Incidunt magni consequatur adipisci officiis vero placeat
					consectetur</span
				>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;li&gt;</span>
				<span class="">id facere,</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(2) }}&lt;ul&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(3) }}&lt;li&gt;</span>
				<span class="">molestiae in,</span>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(3) }}&lt;li&gt;</span>
				<span class="">ducimus necessitatibus hic ad esse consequuntur</span>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(2) }}&lt;/ul&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;li&gt;</span>
				<span class="">dignissimos sequi illum doloremque.</span>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">&lt;/ul&gt;</span>
			</CustomCodeText>
			<h5>Inline List</h5>
			<ol class="list-inline">
				<li>Lorem ></li>
				<li>Ipsum ></li>
				<li>Dolor</li>
			</ol>
			<CustomCodeText>
				<span class="hljs-name">&lt;ol class="list-inline"&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;li&gt;</span>
				<span class="">Lorem ></span>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;li&gt;</span>
				<span class="">Ipsum ></span>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;li&gt;</span>
				<span class="">Dolor ></span>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">&lt;/ol&gt;</span>
			</CustomCodeText>
			<h5>No Style List</h5>
			<ul class="list-nostyle">
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
				<li>
					Incidunt magni consequatur adipisci officiis vero placeat consectetur
				</li>
				<li>
					id facere,
					<ul>
						<li>molestiae in,</li>
						<li>ducimus necessitatibus hic ad esse consequuntur</li>
					</ul>
				</li>
				<li>dignissimos sequi illum doloremque.</li>
			</ul>
			<CustomCodeText>
				<span class="hljs-name">&lt;ul class="list-nostyle"&gt;</span>
				<!-- prettier-ignore -->
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;li&gt;</span>
				<span class=""
					>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span
				>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;li&gt;</span>
				<span class=""
					>Incidunt magni consequatur adipisci officiis vero placeat
					consectetur</span
				>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;li&gt;</span>
				<span class="">id facere,</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(2) }}&lt;ul&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(3) }}&lt;li&gt;</span>
				<span class="">molestiae in,</span>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(3) }}&lt;li&gt;</span>
				<span class="">ducimus necessitatibus hic ad esse consequuntur</span>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(2) }}&lt;/ul&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">{{ getCustomIndent(1) }}&lt;li&gt;</span>
				<span class="">dignissimos sequi illum doloremque.</span>
				<span class="hljs-name">&lt;/li&gt;</span>
				<br />
				<span class="hljs-name">&lt;/ul&gt;</span>
			</CustomCodeText>
		</PostTemplate>
	</main>
</template>

<script>
import { generateCustomIndent } from '../plugins/customIndents'

export default {
	name: 'ListsPage',
	methods: {
		getCustomIndent(iterations) {
			return generateCustomIndent(iterations)
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped></style>
