<template>
	<main class="site-main">
		<PostTemplate title="Media Object">
			<figure class="media">
				<div class="media-figure">
					<img src="../assets/img/site-logo.png" alt="" />
				</div>
				<div class="media-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
					incidunt tempora ratione sapiente, nesciunt consectetur officiis
					commodi soluta. Sit sapiente veritatis non quia vitae, facilis nam
					rerum, reprehenderit modi. Fugiat?
				</div>
			</figure>
			<CustomCodeText>
				<!-- button start -->
				<!-- beloman ngob -->
				<!-- <span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--primary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br /> -->
				<!-- end button -->
				belom ngap
			</CustomCodeText>
		</PostTemplate>
		<PostTemplate title="With Title, Button, and Link" isCopyright="true">
			<figure class="media">
				<div class="media-figure big">
					<img src="../assets/img/site-logo.png" alt="" />
				</div>
				<div class="media-content">
					<h4 class="media-title text-primary">Title</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
						pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
						culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<p class="mb-0">
						<button class="btn primary btn--small btn--icon mr-8">
							<font-awesome-icon :icon="['fas', 'thumbs-up']" />
						</button>
						<a href="#">Visit somewhere...</a>
					</p>
				</div>
			</figure>
			<CustomCodeText>
				<!-- button start -->
				<!-- beloman ngob -->
				<!-- <span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--primary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br /> -->
				<!-- end button -->
				belom ngap
			</CustomCodeText>
		</PostTemplate>
	</main>
</template>

<script>
import { generateCustomIndent } from '../plugins/customIndents'

export default {
	name: 'MediaObjectPage',
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	},
	methods: {
		getCustomIndent(iterations) {
			return generateCustomIndent(iterations)
		}
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped></style>
