<template>
	<main class="site-main">
		<PostTemplate title="Table" isCopyright="true">
			<div class="table-wrapper">
				<table class="table">
					<thead>
						<tr>
							<th>Header 1</th>
							<th>Header 2</th>
							<th>Header 3</th>
							<th>Header 4</th>
							<th>Header 5</th>
							<th>Header 6</th>
							<th>Header 7</th>
							<th>Header 8</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Row 2 Col 1</td>
							<td>Row 2 Col 2</td>
							<td>Row 2 Col 3</td>
							<td>Row 2 Col 4</td>
							<td>Row 2 Col 5</td>
							<td>Row 2 Col 6</td>
							<td>Row 2 Col 7</td>
							<td>Row 2 Col 8</td>
						</tr>
						<tr>
							<td>Row 3 Col 1</td>
							<td>Row 3 Col 2</td>
							<td>Row 3 Col 3</td>
							<td>Row 3 Col 4</td>
							<td>Row 3 Col 5</td>
							<td>Row 3 Col 6</td>
							<td>Row 3 Col 7</td>
							<td>Row 3 Col 8</td>
						</tr>
						<tr>
							<td>Change</td>
							<td>Window</td>
							<td>size</td>
							<td>to see</td>
							<td>Table</td>
							<td>Wrapper</td>
							<td>in</td>
							<td>action!</td>
						</tr>
					</tbody>
				</table>
			</div>
			<CustomCodeText>
				<!-- button start -->
				<!-- beloman ngob -->
				<!-- <span class="hljs-name">&lt;p&gt;</span>
				<br />
				<span class="hljs-name"
					>{{ getCustomIndent(1) }}&lt;button class="btn--primary"&gt;</span
				>
				<span class="">Button Color</span>
				<span class="hljs-name">&lt;/p&gt;</span>
				<br /> -->
				<!-- end button -->
				belom ngap
			</CustomCodeText>
		</PostTemplate>
	</main>
</template>

<script>
import { generateCustomIndent } from '../plugins/customIndents'

export default {
	name: 'TablePage',

	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	},
	methods: {
		getCustomIndent(iterations) {
			return generateCustomIndent(iterations)
		}
	},
	data() {
		return {
			users: []
		}
	},

	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped></style>
